.form {
  width: 1000px;
  margin-top: 20px;
}
.url {
  color: 'light-gray' ;
}

.hover-b--white:hover {
  border-color: white;
}

button {
  color: black;
}

.container {
  top: 0px;
  transform: translateZ(10px);
}
