.Tilt {
  transform-style: preserve-3d;
  height: 125px;
  width: 125px;
  background-color: #fdfdfd;
  background-image: radial-gradient(#ededed 0%, #6f6f6f 90%);
}

.Tilt-inner {
  transform: translateZ(50px);
}
